<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Question Preview</h4>
      </div>
      <div class="modal-body">
        <div class="inline" id="preview">
          <p id = "preview_question_text"></p><br><br>
          <div id="preview_questions_box">
            <ol id = "preview_question_option" type = "A"></ol>
          </div><br>
          <p>Answer: <span id="preview_question_answer">(None)</p>
        </div>
      </div>
</div>