<div id="about_container" class='container'>
	<h1>About EDUvote</h1><br>

	<div class='row'>
		<div id="what_is_eduvote" class="col-sm-4 about_description">
			<div class="about_circle purple">
				<i class="fa fa-mobile"></i>
			</div><br>
			<h3 class='about_title'>Purpose</h3>
			<p>
				EDUvote allows students to submit answers to questions asked in class and enables instructors to track and analyze student responses. Instructors can create multiple choice or numeric questions through our app interface and display them to the class. Students can submit responses to those questions through text messages.The app registers these responses by utilizing the Twilio API and has the ability to determine whether they are right or wrong.
			</p>
		</div>
		<div id="mission" class="col-sm-4 about_description">
			<div class="about_circle pink">
				<i class="fa fa-comments-o"></i>
			</div><br>
			<h3 class='about_title'>Mission</h3>
			<p>
				Our mission is to facilitate participation and student/professor interaction within a classroom by creating a voting application that has low costs, a simple interface and detailed analytics. 
			</p>
		</div>
		<div id="why_eduvote" class="col-sm-4 about_description">
			<div class="about_circle teal">
				<i class="fa fa-check-circle-o"></i>
			</div><br>
			<h3 class='about_title'>Benefits</h3>
			<p>
				Many classes at MIT try to foster interaction and keep track of attendance by posting a short question and having students use Turning Point Clickers to answer them. However, clickers are unnecessarily expensive for both students and instructors, they give no feedback directly to students after a submission, and students often cheat by giving other students their clickers. We present a free solution that provides additional analytics and feedback for both students and professors.
			</p>
		</div>
	</div>
</div>